	<li>
		<h2>{{name}}</h2>
		{{#if generalRender}}
			<div class="trafficlight-show-major ui-li-aside" style="background-color: #{{generalColour}}; box-shadow: 0 0 8px #{{generalColour}}">
				{{general}}
			</div>
		{{/if}}
	</li>
	{{#unless generalRender}}
		<li>No accessibility information.</li>
	{{/unless}}
	{{#if generalRender}}
		{{#if accessRender}}
			<li><h3>Wheelchair Access</h3>
				<div class="trafficlight-show ui-li-aside" style="background-color: #{{accessColour}}; box-shadow: 0 0 8px #{{accessColour}}">
					{{access}}
				</div>
			</li>
		{{/if}}
		{{#unless accessRender}}
			<li>No wheelchair access information.</li>
		{{/unless}}
		{{#if parkingRender}}
			<li><h3>Car Parking</h3>
				<div class="trafficlight-show ui-li-aside" style="background-color: #{{parkingColour}}; box-shadow: 0 0 8px #{{parkingColour}}">
					{{parking}}
				</div>
			</li>
		{{/if}}
		{{#unless parkingRender}}
			<li>No car parking space information.</li>
		{{/unless}}
		{{#if toiletRender}}
			<li><h3>Toilet Facilities</h3>
				<div class="trafficlight-show ui-li-aside" style="background-color: #{{toiletColour}}; box-shadow: 0 0 8px #{{toiletColour}}">
					{{toilet}}
				</div>
			</li>
		{{/if}}
		{{#unless toiletRender}}
			<li>No toilet facility information.</li>
		{{/unless}}
		{{#if staffRender}}
			<li><h3>Staff Friendliness</h3>
				<div class="trafficlight-show ui-li-aside" style="background-color: #{{staffColour}}; box-shadow: 0 0 8px #{{staffColour}}">
					{{staff}}
				</div>
			</li>
		{{/if}}
		{{#unless staffRender}}
			<li>No staff friendliness information.</li>
		{{/unless}}
	{{/if}}
	<li>
		<a href="#" class="rate">Rate {{name}}</a>
	</li>
	<li role="list-divider" data-theme="b">Details</li>
	{{#if extraInfo}}
		{{#if phone}}
			<li><a href="tel:{{phone}}">Call: {{phone}}</a></li>
		{{/if}}
		{{#if address}}
			<li>{{address}}</li>
			{{#if currentLocation}}
				<li><a href="https://maps.google.co.uk/maps?saddr={{currentLocation}}&daddr={{encodedAddress}}">Get directions</a></li>
			{{/if}}
		{{/if}}
		{{#if openAvailable}}
			{{#if open}}
				<li>Open now</li>
			{{/if}}
			{{#unless open}}
				<li>Closed now</li>
			{{/unless}}
		{{/if}}
	{{/if}}
	{{#unless extraInfo}}
		<li class="loading">Loading...</li>
	{{/unless}}